//la forma de importar en scss es usando @import
//una vez que importamos nuestro arcvhivos ya lo podemos usar

@import "./variables.scss";

body{
    background-color: $color-principal;
}

.cuadrado{
    width: 200px;
    height: 200px;
    background-color: blue;
}


//mixin en sass
//son un tipo de funcion la cual nos permite:
//almacenar un codigo y puede reutilizarlo
//podemos pasarle una variable
//la idea de pasar un mixin y el color de fondo sea una variable

//el nombre peude ser cualquiera, se llama así:


.success{
    //en vez de estilos counes voy aa llamar 
    @include alertita();
}


.info{
    font-size: 30px;
    //en vez de estilos counes voy aa llamar 
    @include alertita($bg:rgb(37,194,240),$color-text:#000);
    $padding: 40px;
}

//asi como los mixin nois traen una porcion de codigo, tambien pueden retornar una clase directa
@mixin generate-icons($name,$icon,$color,$size){
    .div-icon-#{$name}{
        background: url("https://i.postimg.cc/WzG9XJD9/telefono.jpg");
        width: $size;
        height: $size;
    }
}



@include generate-icons("phone","telefono.jpg",rgb(252,135,143),400px)

/*
https://i.postimg.cc/WzG9XJD9/telefono.jpg
https://i.postimg.cc/L6sfy1Zn/email.png
https://i.postimg.cc/wjCmT44m/laptop.jpg
*/
