//variables scss
//en sass podemos usar variables para guardar colores primarios, secundarios, fuentes, tamaños

//la forma en la que creamos variables en sass $nombre_variable: valor

$color-principal:rgb(109,219,174);
$color-red:red;
$padding-1:10px;

@mixin alertita ($bg:green,$color-text:#fff) {
    background-color: $bg;
    padding: $padding-1;
    border-radius: $padding-1;
    color: $color-text;
    margin-bottom: $padding-1;
}
