*{
    margin: 0;
}

.cuadrado{
    background-color: red;
    height: 30px;
    width: 100%;
    position: fixed;
}

.circle{
    margin-top: 30px;
    width: 500px;
    height: 500px;
    background-color: green;
    border-radius: 50%;
}
.container{
    width: 50%;
    height: 50%;
    position: absolute;
}
.header{

}

.home{

}

